<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-target="#mainNavbar" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>

  <div class="navbar-collapse collapse" id="mainNavbar">
      <ul class="nav navbar-nav">
          <li> <a class="active lf-nav-content" [routerLink]="['/home']">Language Factory</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li> <a class="active lf-nav-content-right" (click)="processLogout()">Log out</a></li>
      </ul>
  </div>
</nav>
