.lf-nav-content {
  font-size: 23px;
  color: white;
  margin-left: 10px;
}

.lf-nav-content-right {
  font-size: 23px;
  margin-right: 30px;
  color: white;
  cursor: pointer;
}
.lf-nav-content {
  font-size: 23px;
  color: white;
  margin-left: 10px;
}

.lf-nav-content-right {
  font-size: 23px;
  margin-right: 30px;
  color: white;
  cursor: pointer;
}
