
    <div class="row">
        <div class="panel panel-info" style="margin-top:50px">
            <div class="panel-heading">
                <h3>Welcome to Language Factory</h3>
            </div>
            <div class="panel-body" style="margin-top:10px;font-family:Tahoma;font-size:20px">
                <ul>
                    <li>This portal is being used to create your own Dorado LU models.</li>
                    <li>Please find the left navigation bar for existing Dorado LU models.</li>
                    <li>If the existing models doesn't suit your schema, please create a new model using the new model link. </li>
                </ul>
            </div>
        </div>
    </div>
    <admin-comp></admin-comp>
    <div class="row" style="margin-top:150px">
        <blockquote class="pull-left">
            <p style="font-family:Tahoma; font-size:20px"> We should not claim that artificial general intelligence is just around the corner. We are on the right ladder this time... We are all grounded in where we are.</p>
            <footer style="font-family:Tahoma; font-size:large">Satya Nadella - Microsoft CEO </footer>
        </blockquote>
    </div>