
<div>
    <alert-comp #myAlert></alert-comp>
    <div class="well lf-instruction-font">
        <ul>
          <li>This is our page for domain routing hitapp. Language Factory admins can upload UHRS tasks and check all tasks at UHRS</li>
          <li>Once we detect from UHRS that the annotation is completed, we will email you</li>
          <li>Once annotation status changes to "Annotated" in the table, click the row to review the annotation content. This currenlty doesn't support RTA yet</li>
          <li>We currently only support Normal Task for review, RTA task please check directly from UHRS</li>
          <li> Click this <a href="https://prod.uhrs.playmsn.com/Manage/Task/TaskList?hitappid=34770">UHRS Link</a> to access UHRS HitApp directly </li>
      </ul>
    </div>
<div style="margin-top:30px;">
    <p class="lf-title-font" style=" margin-bottom:10px">Upload New Task:</p>
    <div class="row row-adjustment">
        <div class="col-md-2 lf-content-font">Task Type:</div>
        <div class="col-md-6">
            <select (change)="onTypeChange($event.target.value)" style="width:150px" class="form-control">
                <option *ngFor="let type of ['Normal', 'RTA']" class="form-control">{{type}}</option>
            </select>
        </div>
    </div>
    <div class="row row-adjustment">
            <div class="col-md-2 lf-content-font">Task Name:</div>
            <div class="col-md-4">
                <input type="text" title="Name of task" [(ngModel)]="taskName" class="form-control" />
            </div>
    </div>

    <div class="row row-adjustment">
        <div class="col-md-2 lf-content-font">Domains:</div>
        <div class="col-md-5">
                <angular2-multiselect [data]="domainDropdownList" [(ngModel)]="domainSelectedItems"
                [settings]="domainDropdownSettings"
                (onSelect)="onMultiSelectChange($event)"
                (onDeSelect)="onMultiSelectChange($event)"
                (onSelectAll)="onMultiSelectChange($event)"
                (onDeSelectAll)="onMultiSelectChange($event)">
                </angular2-multiselect>
        </div>
    </div>
    <div class="row row-adjustment">
            <div class="col-md-2 lf-content-font">Upload File:</div>
            <div class="col-md-6">
                <upload-comp [type]="'domainrouting'" [isAdmin]="isAdmin" [UHRStype]="type" [domainID]="selectedDomainID" [taskName]="taskName" (fileuploaded)="uploadEvent($event)" (uploadCanceled)="cancelEvent($event)" ></upload-comp>
            </div>
    </div>
</div>

<div style="margin-top:66px;margin-bottom:10px">
    <p class="lf-title-font">Current Tasks:</p>
    <div class="table-responsive" *ngIf="UhrsTaskList" style="margin-top:10px">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="lf-table-header-class">
                        <th style="width:7%">TaskID</th>
                        <th style="width:15%">TaskName</th>
                        <th style="width:15%">CreatedTime</th>
                        <th style="width:10%">DataOwner</th>
                        <th style="width:5%">Annotation Status</th>
                        <th style="width:45%">Selected Domains</th>
                </tr>
            </thead>
            <tbody class="lf-table-content-class" *ngFor="let item of UhrsTaskList">
                <tr style="margin-top:5px" [ngStyle]="{cursor: isLinkClickable(item) ? 'pointer' : 'auto'}" (click)="isLinkClickable(item) && loadAnnotationDetailPage(item.TaskID, item.TaskName)">
                    <td>{{item.TaskID}}</td>
                    <td>{{item.TaskName}}</td>
                    <td>{{item.CreateTime}}</td>
                    <td><span class="label label-success">{{item.DataOwner}}</span></td>
                    <td><span class="label label-primary">{{retrieveEnumValue(item.AnnotationStatus)}}</span></td>
                    <td>{{item.DomainList}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
