<body>
    <div class="jumbotron">
        <h3>Tools</h3>
    </div>

    <div>
        <div class="row">
                <h2>Bulk Editor</h2>
                <a [routerLink]="" (click)="linkme('https://languagefactory.azurewebsites.net/')">Click me</a>
        </div>
                
        <div class="row">
            <h2>View Kappa Score</h2>
            <p>
                Look your Kappa Score  history for both Intent and Slot judgement confusion visually.
            </p>
            <a [routerLink]="" (click)="linkme('http://judgeconfusionmatrix.azurewebsites.net/view/KappaScoreHist0ry.html')">Click me</a>
        </div>

        <div class="row">
            <h2>Justification Tool</h2>
            <p>This tool lets you manually adjust both Intent and Slot judgement confusion viesually and easily</p>
            <a [routerLink]="" (click)="linkme('http://judgeconfusionmatrix.azurewebsites.net/Index.html')">Click me</a>
        </div>
        <div class="row">
            <h2>Luis Data Loader</h2>
            <p>Load your text file to Luis</p>
            <a [routerLink]="" (click)="linkme('http://judgeconfusionmatrix.azurewebsites.net/LuisData/LoadLuisData.html')">Click me</a>            
        </div>
    </div>
</body>

<hr />
<footer>
    <p>&copy; 2018 - Language Factory team</p>
</footer>


