<div class="row">
    <div class="col-sm-2">
        <span>{{annotation.Intent}}</span>
    </div>
    <div class="col-sm-9">
        <span>{{annotation.HotfixAnnotation}}</span>
    </div>
    <div class="col-sm-1">
        <span>{{annotation.AreAnnotationEqual ? 'Yes' : 'No'}}</span>
    </div>
</div>
<div class="row">
        <div class="col-sm-2">
            <span>{{annotation.QASIntent}}</span>
        </div>
        <div class="col-sm-9">
            <span>{{annotation.QASAnnotation}}</span>
        </div>
        <div class="col-sm-1">
        </div>
</div>