<div>
    <div class='row'>
        <div class='col-md-5'>
            <span class="lf-form-title-class">Environment:</span>
            <select (change)="onChange($event.target.value)" class="form-control">
                    <option *ngFor="let whr of environment" [selected]="location == whr" class="form-control">{{whr}}</option>
            </select>
            <br />
            <span class="lf-form-title-class">Virtual Service:</span>
            <input type="text" [(ngModel)]="virtualService" class="form-control" style="font-size:12px;" (keyup)="onVirtualServiceChange($event)" />
            <br />
            <span class="lf-form-title-class">ClientId:</span>
            <input type="text" [(ngModel)]="selectedClientId" class="form-control" style="font-size:12px;" (keyup)="onClentIdChange($event)" />
            <br />
            <span class="lf-form-title-class">Query:</span>
            <input type="text" class="form-control" style="font-size:12px;" (keyup)="onKey($event)" />
        </div>
        <div class='col-md-7'>
            <div style="width:100%" *ngFor="let item of result">
                <h3>{{item.domainName}}</h3>
                <div style="width:100%">
                    <table class="table table-bordered table-striped">
                        <tbody *ngFor="let va of item.valueList">
                            <tr>
                                <td style="width:20%">{{va.key}}</td>
                                <td style="width:80%">{{va.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</div>